<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{})">
    <title>我的问题</title>
</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="layui-div">
    <div class="layui-row fluid-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md9 view_left">
            <h2><span class="title" th:text="${sectionName}" aria-hidden="true"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='question'}">
                <div class="media" th:each="question :${pagination.datas}"><!---->
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${question.getUser().getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading title" th:text="${question.getTitle()}"></h4>
                        <span class="text-desc" th:text="${question.getCommentCount()}+'个回复'"></span>
                        <span class="text-desc" th:text="${question.getViewCount()}+'次浏览'"></span>
                        <span class="text-desc" th:text="${#calendars.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}">小时前</span>
                        <a th:href="@{'/publish/'+${question.getId()}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}">
               <div class="">
                   <div class="media" th:each="notification :${pagination.datas}"><!---->
                       <p>
                           <a th:text="${notification.notifierName}"></a>
                           <span th:text="${' '+notification.type+' '}"></span>
                           <a th:href="@{/notification(id=${notification.id},parentId=${notification.referentId})}" th:text="${notification.value}"></a>
                           <span class="label label-danger" th:if="${notification.status==0}">未读</span>
                       </p>
                   </div>
               </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav th:if="${pagination.datas!=null}" aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a th:href="@{'/profile/'+${section}+'?page=1'}" th:hidden="${!pagination.isHasFirstPage_B()}"
                               aria-label="Previous">
                                <span>&lt;&lt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/profile/'+${section}(page=${pagination.getCurrentPage()- 1})}"
                               th:hidden="${!pagination.isHasPrevious_B()}" aria-label="Previous">
                                <span>&lt;</span>
                            </a>
                        </li>
                        <li th:each="page: ${pagination.pages}" th:class="${pagination.getCurrentPage()==page}?'active':''">
                            <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a></li>
                        <li>
                            <a th:href="@{'/profile/'+${section}(page=${pagination.getCurrentPage()+ 1})}"
                               th:hidden="${!pagination.isHasNext_B()}" aria-label="Next">
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/profile/'+${section}(page=${pagination.getTotalPage()})}"
                               th:hidden="${!pagination.isHasEndPage_B()}" aria-label="Next">
                                <span>&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 view_right">
            <div class="list-group " style="margin-top: 50px">
                <a href="/profile/question"
                   th:class="${section=='question'}?'active list-group-item':'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section=='replies'}?'active list-group-item':'list-group-item'">
                    <span class="badge" th:if="${session.unreadCount!=0}" th:text="${session.unreadCount}"></span>最新回复
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>
</body>
<div th:replace="common/common_foot :: foot"></div>
</html>