<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common_header :: common_header(~{::title},~{})">
    <title th:text="${question.getTitle()}"></title>
</head>
<body class="body">
<div th:insert="~{navigation :: nav}"></div>
<div class="layui-div">
    <div class="layui-row fluid-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md9">
            <!--正文-->
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <h2><span class="title" th:text="${question.getTitle()}" aria-hidden="true"></span></h2>
                <span class="text-desc">
                作者:<span class="text-desc" th:text="${question.user.getName()}"></span>
                   阅读数:<span class="text-desc" th:text="${question.getViewCount()}"></span>
                   发布时间:<span class="text-desc"
                           th:text="${#calendars.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
            </span>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <!--内容-->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" id="text-view">
                    <textarea class="text-description" th:text="${question.description}"></textarea>
                </div>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <!--标签-->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <span>标签:</span>
                    <span th:each="tag:${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags label label-info" th:text="${' '+tag}"></span>
                    </span>
                </div>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 my-menu">
                    <a th:href="@{'/publish/'+${question.getId()}}"
                       th:if="${session.user!=null&&session.user.id==question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                    </a>
                </div>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            </div>
            <!--回复框-->
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <div class="media"><!---->
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle"
                                     th:src="${session.user!=null?session.user.getAvatarUrl():'/img/default-avator.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading title">
                                <a style="color: #0f0f0f" th:text="${session.user!=null?session.user.getName():'匿名'}"></a></li>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论" id="comment_content"
                              class="form-control commentarea" rows="6"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post_comment()">回复</button>
                </div>
            </div>
            <!--回复列表-->
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <h3>
                    <span th:text="${(comments==null?0:comments.size())+'个回复'}"></span>
                </h3>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <!--列表-->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 comments" th:each="comment :${comments}">
                    <div class="media"><!---->
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading title">
                                <a style="color: #0f0f0f" th:text="${comment.user.name}"></a></li>
                            </h5>
                            <div>
                                <h5 th:text="${comment.content}"></h5></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up  icon" th:text="${comment.likeCount}"></span>
                                <span class="glyphicon glyphicon-comment icon" th:text="${comment.commentCount}" th:data-id="${comment.id}" onclick="collaspseComments(this)"></span>
                                <span class="text-desc comment_time"
                                      th:text="${#calendars.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                                </span>
                            </div>
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 collapse twolevel-comment"
                                 th:id="${'comment-'+comment.id}">
                                <!--二级评论-->
                                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                    <textarea placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论"
                                                  class="form-control commentarea" th:id="${'comara-'+comment.id}" rows="2"></textarea>
                                    <button type="button" class="btn btn-success btn-twolevel-comment"  onclick="">取消</button>
                                    <button type="button" class="btn btn-success btn-twolevel-comment" th:data-id="${comment.id}" onclick="post_twolevel_comment(this)">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右边-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md3">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="margin-top: 20px">
                <h3>发起人</h3>
                <div class="media"><!---->
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.getUser().getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading title">
                            <a th:text="${question.user.getName()}"></a></li>
                        </h4>
                    </div>
                </div>
                <hr class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <h3>相关问题</h3>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                    <ul class="list-group" >
                        <li  th:each="requestion:${relatedquestions}">
                            <a th:href="@{'/question/'+${requestion.getId()}}" th:text="${requestion.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>
</body>
<div th:replace="common/common_foot :: foot"></div>
<script src="/js/moment.js" type="application/javascript"></script>
<script src="/editormd/editormd.min.js"></script>
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script type="text/javascript">
    $(function () {
        var textView=editormd.markdownToHTML("text-view",{

        });
    })
</script>
</html>
